flask
flask-cors
requests
werkzeug

mercadopago

flask-socketio

eventlet

gunicorn

pyjwt

sqlalchemy

psycopg2-binary

scikit-learn

pandas

numpy

joblib

pywebpush

pytesseract

Pillow

apscheduler
